# Backend
backend/venv/
backend/__pycache__/
backend/data/uploads/
backend/data/app_data.json
backend/*.csv
backend/*.xlsx
backend/.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
Thumbs.db